*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#experience {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
} */

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  font-size: 32px;
  z-index: 1000;
  display: none;
  color: white;
}
