/* fonts in ander bestand doen en variable colors toevoegen */
/* FONTS */

@font-face {
    font-family: 'Sunny Spells Basic';
    src: url('/fonts/SunnySpellsBasic-Regular.woff2') format('woff2'),
        url('/fonts/SunnySpellsBasic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sacrifice Demo';
    src: url('/fonts/SacrificeDemo.woff2') format('woff2'),
        url('/fonts/SacrificeDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
  --base-brown: rgb(68, 46, 20);
  --base-black: #090909;
  --base-white: #eee9d9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sunny Spells Basic', sans-serif;
}

#experience {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
    z-index: 2;
}



.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--base-white);
  font-size: 2em;
  z-index: 1000;
  display: none;
  color: var(--base-black);
  padding: 1em;
}

.modal h1 {
  margin: 0;
  /* padding-left: 1em;;
  padding-right: 1em; */
}

.modal-close {
  background-color: var(--base-white);
  color: var(--base-black);
  border: none;
  padding: 0.2em;
  cursor: pointer;
  font-size: 16px;
  outline: solid 1px var(--base-brown);
  border-radius: 0.5em;
}

img{
  display: block;
  max-width: 30%;
  padding: 0;
}








